body
{
    background-color: #387780;
}

header
{
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #DBD4D3;
    
}

.mainlinks
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
    margin-bottom: 20px;
}

.linkmain
{
    text-align: center;
    font-size: x-large;
    color:#387780;
    background-color: #d2cca1;
    border: 2px solid black;
    border-radius: 15px;
}

.mainsection
{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

figure
{
    border: 2px solid black;
    border-radius: 25px;
    background-color: #d2cca1;
}

#mainimage
{
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    padding-top: 25px;
    padding-bottom: 25px;
}

#skills
{
    font-size: x-large;
    border: 2px solid black;
    border-radius: 25px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d2cca1;
    width: 90%;
}

#mainaside
{
    font-size: x-large;
    border: 2px solid black;
    border-radius: 25px;
    padding: 25px;
    background-color: #d2cca1;
    width: 90%;
}

#mainasideimage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.locationimage
{
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.locationheader
{
    text-align: center;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    background-color: #757780;
    color: #DBD4D3;
}

footer
{
    font-size: medium;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    color: #d2cca1;
    background-color: #757780;
}

.worklinks
{
    display: grid;
    grid-template-rows: auto auto auto;
}

.linkwork
{
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
    background-color: #d2cca1;
}

.workimage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.worktitle
{
    text-align: center;
    background-color: #757780;
    border: 2px solid black;
    border-radius: 25px;
    font-size: x-large;
    color: #E83151;
    margin-bottom: 20px;
}

.contact
{
    font-size: x-large;
    border: 2px solid black;
    padding: 50px;
    border-radius: 25px;
    background-color: #DBD4D3;
}

@media screen and (min-width : 800px)
{
    .mainlinks
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .linkmain
    {
        text-align: center;
        color:#757780;
        background-color: #d2cca1;
        border: 2px solid black;
        border-radius: 15px;
        
    }

    .mainsection
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto ;
    }

    #imagemain
    {
        grid-column: 1/4;
        grid-row: 1/4;
    }

    #skills
    {
        border: 2px solid black;
        border-radius: 25px;
        grid-column: 4/5;
        grid-row: 1/3;
        
    }

    #mainaside
    {
        border: 2px solid black;
        border-radius: 25px;
        grid-column: 4/5;
        grid-row: 3/4;
    }

    a:hover
    {
        background-color:  #E83151;
    }

    .worklinks
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 20px;
        
    }

    .linkwork
    {
        border: 2px solid black;
        padding: 20px;
        border-radius: 25px;
    }

    #Demo2
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #ICA03
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #ICA04
    {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #Demo2title
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #ICA03title
    {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #ICA04title
    {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .locationgrid
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: auto auto;
    }

    .locationheader
    {

    }
}